/* #topbox{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap:5px;
} */

#tictable{
    background-color: darkgreen;
    color: white;
}
td{
    text-align: center;
}
#row1 td{
    border-bottom: 5px solid black;
    border-collapse: collapse;
}
#row2 td{
    border-bottom:5px solid black;
    border-collapse: collapse;
}
#lefty{
    border-left: 5px solid black;
}
.mybtns{
    background-color: darkgreen;
    border: none;
    color: white;
    font-size: 3rem;
    font-weight: bolder;
    width: 95px;
    min-height: 95px;
}
@media screen  and (max-width:1000px){
    .mybtns{
        font-size: 2rem;
        font-weight: bolder;
        width: 30px;
        min-height: 30px;
    }
}

#playerTab{
    background-color: white;
    border: none;
    color: darkgreen;
}
#res td{
    font-size: larger;
    font-weight: bold;
    text-transform: capitalize;
}
#mainbox{
    width: 60%;
    height: 70vh;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 40%;
    gap: 30px;
    justify-content: center;
    background-color:green;
    box-shadow: 10px 10px 10px black;
    visibility: hidden;        
}
@media screen  and (max-width:1000px){
    #mainbox{
        width: 95% !important;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 1em;
        gap:10px !important;
       
    }
}


